<div class="col-sm-12 col-sm-12"><h1>Meet {{name.first}} {{name.last}} - Front End Developer</h1></div>

<div class="col-sm-12">
  <img src="imgs/ray-robertson-front-end-developer.jpg" class="ray-image img-rounded img-responsive pull-left"/>

  <p>Hi Tenable,</p>
  <p>
    My name is Ray Robertson and I’m a Front End Web Developer at CTACorp.com. Over the last couple of years I’ve been building Front End website backed by the HHS Media Service API <a href={{links.hhsApi}} target="_blank">(https://api.digitalmedia.hhs.gov/)</a> and had the opportunity to employ various Font End tools along the way to make the development process and workflow a lot more streamlined. I enjoy reading up on new developments in the Front End space and learning about ways to improve as a Front End Developer. When I’m not delving into web tech, I’m hanging out with my wife and two boys and enjoying them as they grow up. So what is this all about?
  </p>

  <img src="imgs/tenable-ascii.png" class="tenable-image img-responsive pull-right"/>

  <p>
    Well I was checking out the tenable website and I saw something I didn’t see before…I saw an opportunity. You at Tenable spoke to me directly and said, “If you’re looking at this, we want to hire you.” Yes, I took a look at your websites source in Chromes Dev Tools and there it was, so I visited the Tenable careers page and saw the User Interface Developer position and thought this was a good fit for me and they did say they wanted to hire me.  The next step was for me to not only mention that I’ve been working with a lot of the technologies that are listed in the job description, but to build this project using a lot of the technologies and walkthrough how I put it together and share the code for you to review.Jason has been involved in the theme game since the beginning. Hope you enjoy the interview!
  </p>

  <p>
    I’m certain that this position comes with a plethora of challenges and I questioned as to whether I even wanted give this a shot, but in the end it came back to what I saw in the Tenable sites source code, “If you’re looking at this, we want to hire you.” Well I want this too, so the feeling is mutual.Please click on the hamburger menu and let me walk you through the process I took to build this site, what tools I used and where you can find this repo on gitHub. If you’ve made it this far then I guess I’ve said and done some of the right things already.
  </p>

  <p>Ray Robertson</p>
</div>
