<label for="sidebartoggler" class="toggle">
  <span>{{name.first}} {{name.last}}</span>
</label>

<div class="sidebar">
  <ul>
    <li>Hi, I'm Ray.</li>
    <li>Site Walkthrough.</li>
    <li>Let's Talk</li>
  </ul>
</div>